<div class="weather">
    <div class="location"></div>
    <div class="temp"></div>
    <div class="description"></div>
</div>

<form id="changeCityForm">
    <div id="cityField">
        <label id="city">Change city</label>
        <input type="text" for="city" id="changeCityValue">
    </div>
    <input type="submit" value="Save Changes" class="button-29">
</form>